<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h1><a href="http://www.smarttutorials.net/invoice-script-php/">{{title}}</a></h1>
		The Angular is a development platform for building a Single Page Application for mobile and desktop. 
		It uses Typescript & HTML to build Apps. The Angular itself is written using the Typescript. 
		It now comes with every feature you need to build a complex and sophisticated web or mobile application. 
		It comes with features like component, Directives, Forms, Pipes, HTTP Services, Dependency Injection, etc
		<br>
	</div>
</div>
